# VirusTotal API
VIRUSTOTAL_API_KEY=2de399584cc82c1c93e97c24485f4bf64a38f1de442a1244b68caf373a89c107
# URLScan.io API
URLSCAN_API_KEY=019d49dc-c1c9-73d1-abe7-679dad3ab710

# Server config
HOST=0.0.0.0
PORT=8000
DEBUG=true

# Timeouts (seconds)
VIRUSTOTAL_TIMEOUT=10
URLSCAN_TIMEOUT=30
PLAYWRIGHT_TIMEOUT=15

# Risk scoring weights
VT_WEIGHT=0.35
URLSCAN_WEIGHT=0.35
PLAYWRIGHT_WEIGHT=0.30
